<div class="header">
  <h1>Github Search</h1>
</div>
<div class="container-fluid grey-bg">
  <div class="row justify-content-center pt 2">
    <div class="col-8">
      <input class="searchInput w-100 p-2"
      placeholder="search user" [(ngModel)]="searchText">
    </div>
  </div>
  <div class="col-2">
    <button (click)="searchUser()"
    class="btn btn-warning p-2">Search</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 my container">
      <div class="row pt-4">
        <div class="col-12 d-flex justify-content-center">
          <img class="rounded-circle" width="250px" src="{{profile.avatar_url}}" alt="">
        </div>
        <div class="col-12 p-4 text-center">
          <h3 appcolor>{{profile.login|uppercase}}</h3>
        </div>
        <div class="col-12 mt-2 p-2 tect-center">
          <h4>Location: {{profile.Location}}</h4>
        </div>
        <div class="col-12 mt-2 p-2 tect-center">
          <h4>Joined on: {{profile.created_at|date}}</h4>
        </div>
        <div class="col-12 mt-2 p-2 tect-center">
          <h4>Bio: {{profile.bio}}</h4>
        </div>
        <div class="col-12 mt-2 p-2 tect-center">
          <h4>Followers: {{profile.followers}}</h4>
        </div>
        <div class="col-12 mt-2 p-2 tect-center">
          <h4>Following: {{profile.following}}</h4>
        </div>
      </div>
    </div>
    <div class="col-8 my-container1">
      <div class="row justify-content-center">
        <div class="card-heder bg-transparent boarder-default">{{repo.name}}
        </div>
        <div class="card-body text-default">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{repo.description}}</p>
        </div>
        <div class="card-footer bg-transparent border-default">
          <a href="{{repo.html.url}}">Learn more</a>
        </div>
      </div>
    </div>
  </div>

</div>